<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
            		<a href="/clients">
            			<i class="fa fa-user"></i> Gestion des clients 
				</a>
			</li>
            <li>
            		<a><i class="fa fa-bank"></i> Gestion des comptes </span></a>
                <ul class="nav child_menu">
                    <li>
                    		<a href="/bank-account/create">
							<i class="fa fa-plus-circle fa-14"></i> Nouveau Compte
						</a>
					</li>
                    <li>
                    		<a href="/bank-account">
							<i class="fa fa-credit-card fa-14"></i> Comptes
						</a>
					</li>
                    <li>
                    		<a href="/bank-account/operations">
							<i class="fa fa-line-chart fa-14"></i> Opérations 
						</a>
					</li>
                </ul>
            </li>
            <li>
            		<a href="/users">
            			<i class="fa fa-users"></i> Gestion des utilisateurs 
				</a>
			</li>
        </ul>
    </div>

</div>